body{
    /* background-color: #050404; */
    background-color: #2b337c;
    background-image: url('../img/fundo.png')  ; 
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
}
header{
   padding: 3%;
   display: flex;
   justify-content: space-between;
   align-items: center;

}

#menu ul li{display: inline;}


nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
     margin: 0 10px;
}

nav ul li a:hover{
  background-color: #9aa5d4;
  border-radius: 5px;
}

.menu-icon{
  display: none;
  font-size: 30px;
  color: aqua;
  cursor: pointer;
}


.logo{
   /*whidth: 35%; ou ajuste conforme necessario*/
   max-width: 100%;
   height: auto;
}
nav{
   
    width: 80%;
   
}
main{
   margin-top: 70px;
   padding: 20px;
   width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section{
  padding: 20px;
}
footer{
    
}
main{

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
header{

padding: 3%;
}
footer{
 
    padding: 3%;
}

 .cabecalho{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(98, 121, 168);
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}
.rodape{
    padding: 3%;
}

.imgem {
      
           /* Estilos opcionais para a imagem */
           max-width: 100%; /* Garante que a imagem não ultrapasse a largura da tela */
           max-height: 100%; /* Garante que a imagem não ultrapasse a altura da tela */
           background-image: url("img/mondstard.jpg"); /* Estilos opcionais para a imagem */
           padding: 10%;
           max-width: 100%; /* Garante que a imagem não ultrapasse a largura da tela */
           max-height: 100%; /* Garante que a imagem não ultrapasse a altura da tela */
          padding: 2%;
         
    }
    .logoi img{
        width: 15%;
        height: auto;
}
    p{
        line-height: 1.5;
        font-size: 1.2em;
        text-align: justify;
    }
  .figure{
    text-align: center;
    display: inline-block;
  }

  figure img{
    display: block;
    margin: 0 auto;
    box-shadow:0px 4px 8px rgb(15, 2, 82);
    max-width: 100%;
    height: auto;
  }

  figure figcaption{
    margin: 1.0em;
    text-align: center;
    color: aquamarine;
  }
  .caixa-imagem{
    text-align: center;
    margin-top: 1%;

  }
  .titulos{
    line-height: 3;
    text-align: center;
    font-weight: bold;
  }
  .H1{
    font-size: 2em;
  }
  .h2{
    font-size: 1.5em;
  }
  .h3{
    font-size: 1.5em;
  }
  .h3{
    font-size: 1.5em;
  }
  .h4{
    font-size: 1.5em;
  }

  @media ( max-width: 768px) {
        .menu-icon{
            display: block;
            padding-right: 10px;
        }

        nav ul{
          display: none;
          flex-direction: column;
          width: 100%;
          background-color: #000000;
          position: absolute;
          top: 60px;
          left: 0;
          z-index: 1000;
          padding: 0;
        }

        #menu-toggle:checked + .menu-icon + ul{
          display: flex;
        }
        nav ul li{
          text-align: center;
          margin: 0;
        }

        nav ul li a{
          padding: 15px 0;
        }

        nav ul li label{
          width: 100%;
          display: block;
        }
  }

  .img{
align-items: center;
  }

  .div,h4{
  text-decoration-color: #ff1717;
  }