body{
    /* background-color: #050404; */
    background-color: #99b3c2;
    background-image: url('../img/fundo.png')  ; 
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
}
header{
   padding: 3%;
   display: flex;
   justify-content: space-between;
   align-items: center;

}

#menu ul li{display: inline;}

/* CRIANDO MEU MENU */
  #menu ul{
     padding: 0 px;
     margin: 0px;
     list-style: none;
   display: flex;
}

#menu ul li{
display: inline;
font-size: 1.2em;
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    text-decoration: none;
    /* border-bottom:3px solid #ededed*/
    white-space: nowrap;
    color: #dddddd;
}

.logo{
   /*whidth: 35%; ou ajuste conforme necessario*/
   max-width: 100%;
   height: auto;
}
nav{
   
    width: 80%;
   
}
main{
   color: rgb(0, 0, 0);
   width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section{

}
footer{
    
}
main{

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
header{

padding: 3%;
}
footer{
 
    padding: 3%;
}
.cabecalho{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rodape{
    padding: 3%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

    .imgem {
      
           /* Estilos opcionais para a imagem */
           max-width: 100%; /* Garante que a imagem não ultrapasse a largura da tela */
           max-height: 100%; /* Garante que a imagem não ultrapasse a altura da tela */
           background-image: url('.jpg/gunxin'); /* Estilos opcionais para a imagem */
           padding: 10%;
           max-width: 100%; /* Garante que a imagem não ultrapasse a largura da tela */
           max-height: 100%; /* Garante que a imagem não ultrapasse a altura da tela */
          padding: 2%;
         
    }
    .logoi img{
        width: 15%;
        height: auto;
}
    p{
        line-height: 1.5;
        font-size: 1.2em;
        text-align: justify;
    }
  .figure{
    text-align: center;
    display: inline-block;
  }

  figure img{
    display: block;
    margin: 0 auto;
    box-shadow:0px 4px 8px rgb(39, 27, 104);
    max-width: 100%;
    height: auto;
  }

  figure figcaption{
    margin: 1.0em;
    text-align: center;
    color: aquamarine;
  }
  .caixa-imagem{
    text-align: center;
    margin-top: 1%;

  }
  .titulos{
    line-height: 3;
    text-align: center;
    font-weight: bold;
  }
  .H1{
    font-size: 2em;
  }
  .h2{
    font-size: 1.5em;
  }
  .h3{
    font-size: 1.5em;
  }
  .h3{
    font-size: 1.5em;
  }
  .h4{
    font-size: 1.5em;
  }